<h2>Make your Team</h2>
<%= form_for :team, url: team_path(@team), method: :patch do |f| %>
<p>
    <%= f.label :team_name, '프로젝트 이름' %><br>
    <%= f.text_field :team_name, required: :true, class:"form-control" %>
</p>

<p>
    <%= f.label :title, '간단한 소제목' %><br>
    <%= f.text_field :title, required: :true, class:"form-control" %>
</p>

<p>
    <%= f.label :content, '프로젝트를 소개해주세요!' %><br>
    <%= f.text_area :content, required: :true, class:"form-control", style:"height:200px;" %>
</p>
<br>
<%= f.label :avatars, '첨부할 이미지를 넣어주세요.(복수선택 가능)' %><br>
<br>
<%= f.file_field :avatars, multiple: true %>
<br>
<span style="font-size:15px; color:gray">가능한 파일 : jpg jpeg gif png</span>
<p>
    <br>
    <%= f.submit '팀 생성하기', class:"btn btn-outline-secondary" %>
</p>
<% end %>