<link rel="stylesheet" href="/app/assets/stylesheets/index.css">
<h1 class="sm-font ideathon-title">IDEATHON </h1>
<hr style="height:1px;width:15%;">
<h1 class="lg-font ideathon-title">101</h1>
<%= link_to '팀을 만들어보세요!', new_team_path , class:"xs-font" %>
<%= link_to '공지사항', '/notice', class:"xs-font", style:"float:right;" %>
<hr>
<div class="xss-font">
  * 마음에 드는 팀에 투표해주세요!
</div>
<br>
<div class="row">
  <% @teams.reverse.each do |team| %>
  <div class="col-lg-4 col-md-12 mb-5">
    <div class="card h-100 shadow">
      <div class="card-body">
        <% if team.idea_status %>
        <%= link_to "#{team.short_name()}",team_path(team), class:"card-title xs-font lg-size" %>
        <%= link_to "#{team.team_name}",team_path(team), class:"card-title xs-font mobile-size" %>
        <span class="card-title xs-font" style="float: right;color:gray">
          ?
          <%# team.votants.count %>
        </span>
        <br>
        <div class="card-text">
          <p class="xss-font lg-size">
            <%= team.short_title() %>
            <!-- team.title로 보여주는게 이쁘면 이걸로 ㄱ -->
          </p>
          <p class="xs-font mobile-size">
            <%= team.title %>

          </p>
          <br>
          <span style="float:right;" class="xs-font">
            <%= team.writer %>
          </span>

        </div>

      </div>
      <% else %>

      <%= link_to "#{team.short_name()}",team_path(team), class:"card-title xs-font lg-size" %>
      <%= link_to "#{team.team_name}",team_path(team), class:"card-title xs-font mobile-size" %>
      <div class="card-text xss-font">
        모집을 취소하였습니다.
        <br>
        
      </div>

    </div>
    <% end %>
  </div>
</div>

<% end %>

</div>
<div class="xss-font">
  ***팀원 지원 기능은 후에 공개될 예정입니다.
</div>