<div style="text-align: center">
<h1 class="lg-font" >MY PAGE</h1>
<%= current_user.name %> | <%= current_user.univ %>
</div>
<hr>
<h2 class="md-font">투표한 팀</h2>
<p class="xs-font">최대 3개의 팀에 투표 가능합니다.</p>
<div class="row">
    <% @my_vote.each do |team| %>
    <div class="col-lg-4 col-md-12 mb-5">
        <div class="card shadow">
            <div class="card-body">
                <%= link_to "#{team.team_name}",team_path(team), class:"card-title" %>
                <br>
                <div class="card-text">
                    <br>
                    <span style="float:left;" class="xs-font">
                        <%= link_to '취소', vote_path(team), method: :delete, style:"color:#ff4242" %>
                    </span>
                    <span style="float:right;" class="xs-font">
                        <%= team.writer %>
                    </span>

                </div>

            </div>
        </div>
    </div>

    <% end %>

</div>
<% @my_vote.each do |v| %>


<% end %>

<h2>피드백 구성 조</h2>
<!-- 팀 구성은 직접 오프라인으로 공지하는 것이 더 나을 수도..? -->
<ul>
    <li>1타임 : 1조</li>
    <li>2타임 : 3조</li>
    <li>3타임 : 5조</li>
</ul>

<p>몇조인지 알려줄 것</p>

<p>이 아래는 고민중</p>
<h2>소속 팀</h2>
<h2>지원중인 팀</h2>