<h2>Make your Team</h2>
<%= form_for :team, url: teams_path do |f| %>
<p>
    <%= f.label :team_name, '팀명을 입력하세요' %><br>
    <%= f.text_field :team_name %>
</p>

<p>
    <%= f.label :title, '프로젝트명' %><br>
    <%= f.text_field :title %>
</p>

<p>
    <%= f.label :text, '간단하게 프로젝트를 소개해주세요!' %><br>
    <%= f.text_area :text %>
</p>
<%= f.file_field :avatars, multiple: true %>
<p>
    <%= f.submit%>
</p>
<% end %>