
<h1><%=@team.team_name%></h1>
<%= @team.title %>
<br>
<%= @team.writer %>
<br>
<%= @team.content %>
<br>
<%= @team.recruitment %>
<br>

<br>

<%= image_tag(@team.avatars[0].url, width:'50%') %>
<br>
<%= link_to  "목록", teams_path %>
<%= link_to  "수정", edit_team_path %>
<%= link_to  "삭제", team_path, method: :DELETE %>
