<h1><%=@team.team_name%></h1>
<%= @team.title %>
<br>
<p>작성자 : <%= @team.writer %></p>
<br>
<h3>팀원</h3>
<% @team.users.each do |u| %>
    <ul>
        <li><%= u.name %></li>
    </ul>
<% end %>
<%if @team.recruitment %>
<p>모집 상태 : 팀원을 모집중입니다.</p>
<% else %>
<p>모집 상태 : 모집이 종료되었습니다.</p>
<% end %>
<br>
<hr>
<div style="text-align: center">
    <%= simple_format @team.content %>
    <br>

    <br>

    <br>

    <% i=0 %>
    <% while i<@team.avatars.length %>
    <%= image_tag(@team.avatars[i].url, width:'50%') %>
    <br><br>
    <%i=i+1%>
    <% end %>
    <div style="float:left;">
        <%= link_to  "목록", teams_path %>
        <%= link_to  "수정", edit_team_path %>
        <%= link_to  "삭제", team_path, method: :DELETE, data: {confirm: '정말 삭제하시겠어요?'}%>
    </div>
    <br>
</div>

<br>
<br>
<h3>댓글 <%= @comments_num %>개</h3>
<hr>
<% @team.comments.each do |c| %>
<p>
    <b><%= c.commenter %></b>
    <small><%=c.created_at%></small>
    <br>
    <%=simple_format c.body %>
    <%= c.secret %>

</p>

<hr>
<% end %>

<%= form_for([@team, @team.comments.build]) do |f| %>
<p>
    <%= f.label :body, '댓글' %><br>
    <%= f.text_area :body, class:"form-control", placeholder:"댓글을 입력하세요" %>
    <br>
    <%= f.label :secret, '비밀로하시겠어요?(연락처 정보 등을 담을 시 비밀을 선택해주세요)'%>
    <%= f.check_box :secret %>
    
</p>
    <%= f.submit '댓글 작성하기', class:"btn btn-outline-secondary" %>
<% end %>
<br><br>