<h1><%=@team.team_name%></h1>
<%= @team.title %>
<br><br><br>

<!-- 팀장 user객체로 찾기 -->
<% @team.users.each do |u| %>
    <% if u.captain %>
        <% captain = u %>
        <h3>팀장 : <%= captain.name %></h3>
        
        <!-- 팀장이 신청을 받아줄 수 있어야 한다. -->
        <% if captain == current_user %>
            <h4>지원자 리스트</h4>
            <% @team.users.each do |tmp| %>
                <!-- 지원은 했으나 아직 소속되기 전 -->
                <% if tmp.belonging != true %>
                
                    <%= tmp.name %> | <%= tmp.univ %> | <%=link_to "팀원 받기", accept_path(tmp.id), class:"btn btn-outline-success"%>
                    <br>
                    <br>
                <% end %>
            <% end %>
        <% end %>

        <% break %>
    <% else %>
        
    <% end %>
    
<% end %>

<br>
<h3>팀원</h3>
<% @team.users.each do |u| %>
<ul>
    <% if u.belonging %>
    <li><%= u.name %> | <%= u.univ%></li>
    <% end %>
</ul>
<% end %>
<% if @team.writer == current_user.name %>
    <% if @team.recruitment %>
    <a class="btn btn-outline-secondary" href="javascript:{document.getElementById('recruit-end').submit()}"
        onclick='return confirm("모집을 마감하시겠습니까?")'>모집 종료하기</a>

    <form action="/teams/recruit/<%=@team.id %>" id="recruit-end" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden">
    </form>
    <% else %>
    <a class="btn btn-outline-secondary" href="javascript:{document.getElementById('recruit-start').submit()}"
        onclick='return confirm("모집을 하시겠습니까?")'>모집하기</a>

    <form action="/teams/recruit/<%=@team.id %>" id="recruit-start" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden">
    </form>
    <% end %>
<% end %>
<br>
<%if @team.recruitment %>
    <p>팀원 모집 상태 : 모집중입니다.</p>
    <% if current_user.captain or (current_user.team!=nil) %>
        <% if current_user.belonging !=true %>
            <a class="btn btn-outline-secondary"
                onclick="alert('현재 지원한 팀이 있습니다.\n 지원을 취소 하시려면 상단의 지원취소 버튼을 눌러주세요')">지원하기</a>
        <% else %>
            <!-- 소속한 팀이 있는 경우 -->
        <% end%>

    <% else %>
    <a class="btn btn-outline-secondary" href="javascript:{document.getElementById('apply').submit()}"
        onclick='return confirm("[<%=@team.team_name%>]팀에 지원하시겠습니까?")'>지원하기</a>
    <% end %>
    <form action="/teams/apply/<%=@team.id %>" id="apply" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden">
    </form>

    <% else %>
    <p>팀원 모집 상태 : 모집이 종료되었습니다.</p>
<% end %>
<br>
<hr>
<div style="text-align: center">
    <%= simple_format @team.content %>
    <br>

    <br>

    <br>

    
    <% @team.avatars.each do |img| %>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-sm-12">
                <%= image_tag(img.url, style:'max-width:100%')%>
            </div>
        </div>
        <br><br>
    <% end %>
    
    <br><br><br>
    <div style="float:left;">
        <%= link_to  "목록", teams_path %>
        <% if can? :edit, @team %>
        <%= link_to  "수정", edit_team_path %>
        <% end %>
        <% if can? :destroy, @team %>
        <%= link_to  "삭제", team_path, method: :DELETE, data: {confirm: '정말 삭제하시겠어요?'}%>
        <% end %>
    </div>
    <br>
</div>

<br>
<br>
<h3>댓글 <%= @comments_num %>개</h3>
<hr>
<% @team.comments.each do |c| %>
<p>
    <b><%= c.commenter %></b>
    <small><%=c.created_at%></small>
    <br>
    <% if c.secret %>
    <p style="color:gray">비밀글입니다.</p>
    <% if (c.commenter == current_user.name) or (current_user.name==@team.writer)%>
    원문 : <%= simple_format c.body %>
    <% end %>
    <% else %>
    <%=simple_format c.body %>
    <% end %>
</p>

<hr>
<% end %>

<%= form_for([@team, @team.comments.build]) do |f| %>
<p>
    <%= f.label :body, '댓글' %><br>
    <%= f.text_area :body, class:"form-control", placeholder:"댓글을 입력하세요" %>
    <br>
    <%= f.label :secret, '비밀로 작성하시겠어요?(댓글 작성자와 글 작성자만 볼 수 있습니다.)'%>
    <%= f.check_box :secret,{class:'checkbox'}, checked_value = true, unchecked_value = false %>
</p>
<%= f.submit '댓글 작성하기', class:"btn btn-outline-secondary" %>
<% end %>
<br><br>